﻿@{
    ViewData["Title"] = "";
}
<style type="text/css">
    .body {
    }

    .parent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        background-color: #ffd900;
    }

    .block {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    .blockText {
        text-align: center;
        padding-top: 10px;
    }

    .block img {
        height: 80px;
        display: block;
        margin: 0 auto;
        border: none;
    }

    .st0 {
        fill: #79328a
    }
</style>

<app>
    <div class="parent">
        <div class="block">
            <img src="~/img/WELBI-logo-small-new.svg" alt="TestMaker" />
            <div class="blockText">
                WELBI Directory загружается...
            </div>
        </div>
    </div>
</app>
<!--<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>-->

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
    
}
