﻿<div class="col-md-12">
    <h1>Добро пожаловать в  WELBI Directory!</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Введите своё имя" value="">
    </mat-form-field>
    <br />
    В этом проекте используется:
    <ul>
        <li><a href='https://get.asp.net/'>ASP.NET Core 2.1.4</a> и <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> для кроссплатформенного серверного кода</li>
        <li><a href='https://angular.io/'>Angular 6</a> и <a href='http://www.typescriptlang.org/'>TypeScript</a> для создания клиентской части</li>
        <li><a href='https://webpack.github.io/'>Webpack</a> для создания и объединения клиентских ресурсов</li>
        <li>На <a href='http://getbootstrap.com/'>Bootstrap</a> и <a href="https://material.angular.io">Angular Material</a> написан макет сайта и дизайн</li>
    </ul>

    Тут приведены некоторые компоненты <a href="https://material.angular.io">Angular Material</a>
    <br />
    <br />
    <button mat-raised-button color="primary">Просто кнопка</button>
    <br />
    <br />
    <mat-checkbox>Кликни по мне!</mat-checkbox>
    <br />
    <br />
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>home</mat-icon> Выпадающий список</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Люди</button>
        <button mat-menu-item>События</button>
    </mat-menu>
</div>