.about img {
  height: 64px;
  width: 54px;
}
.about .about-article-header {
  border-bottom: 2px solid #59b337;
}
.about .section-trust {
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .about .connection-lines {
    display: none;
  }
  .about .group-scheme-item {
    margin-left: 15px;
  }
  .about .crutch {
    display: none;
  }
  .about .information {
    display: none;
  }
  .about .mini-info {
    visibility: visible;
  }
}
@media (min-width: 1199px) {
  .about .mini-info {
    visibility: hidden;
  }
  .about .crutchbr {
    display: none;
  }
  .about .dot {
    display: none;
  }
  .about .group-scheme-item {
    font-size: 16px;
    height: 120px;
    display: table;
    margin-bottom: 30px;
  }
  .about .group-scheme-item .group-scheme-item-wrap {
    border: 3px solid #ffd900;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .about .group-scheme-item-root {
    font-size: 16px;
    height: 120px;
    display: table;
  }
  .about .group-scheme-item-root .group-scheme-item-wrap {
    border: 3px solid #ffd900;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .about .connection-lines .line-trio {
    border-left: 3px dotted #c3c6c7;
    height: 25px;
  }
  .about .connection-lines .line-seven {
    border-right: 3px dotted #c3c6c7;
    border-left: 3px dotted #c3c6c7;
    border-top: 3px dotted #c3c6c7;
    height: 25px;
  }
  .about .connection-lines .line-six {
    border-left: 3px dotted #c3c6c7;
    border-top: 3px dotted #c3c6c7;
    height: 25px;
  }
}
.about .about-section {
  margin-top: 15px;
  border-top: 1px solid #e9edee;
}
.about .about-section .about-section-title {
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 35px;
}
.about .typography {
  text-align: justify;
}
.about .sup {
  position: relative;
  top: -5px;
  font-size: 10px;
}
.about .information {
  color: #004fb6;
}
.about .information .info-text {
  font-size: 20px;
}
.about .information .big-info-text {
  font-size: 45px;
}
