﻿<div class="about col-sm-12">
    <h1>{{title}}</h1>
    <div class="about-article-header">
        <h3>Страховая группа «БЛАГОСОСТОЯНИЕ» — один из лидеров в области предоставления услуг по страхованию и пенсионному обеспечению.</h3>
    </div>
    <br />
    <div class="typography">
        <p>Уже более десяти лет мы успешно применяем опыт крупнейшей английской страховой группы на российском рынке.</p>
        <p>С 2005 года мы постоянно развиваемся, совершенствуем наши продукты и улучшаем качество предоставляемых нами услуг. Одно из наших главных достижений — безупречная репутация и высокий уровень обслуживания.</p>
        <p>Мы делаем страхование доступным и понятным каждому. Вы можете приобрести разнообразные страховые продукты на нашем сайте, потратив на это не больше пятнадцати минут.</p>
    </div>
    <div class="group-scheme">
        <div class="center-block row">
            <div class="col-lg-12">
                <div class="group-scheme-item-root col-lg-4 col-lg-push-4">
                    <div class="group-scheme-item-wrap">
                        <mat-icon class="dot" style="color: #79328a;">keyboard_arrow_down</mat-icon>Страховая группа «БЛАГОСОСТОЯНИЕ»
                    </div>
                </div>
            </div>
        </div>
        <div class="connection-lines">
            <div class="center-block col-sm-12 row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3 line-trio">
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <div class="center-block col-sm-12 row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3 line-six">
                </div>
                <div class="col-lg-3 line-seven">
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
        <div class="center-block row">
            <div class="col-lg-12 branches">
                <div class="group-scheme-item col-lg-4">
                    <div class="group-scheme-item-wrap">
                        <mat-icon class="dot" style="color: #79328a;">keyboard_arrow_right</mat-icon>НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»
                    </div>
                </div>
                <div class="group-scheme-item col-lg-4">
                    <div class="group-scheme-item-wrap">
                        <mat-icon class="dot" style="color: #79328a;">keyboard_arrow_right</mat-icon>АО «СК БЛАГОСОСТОЯНИЕ»
                        (товарный знак WELBI)
                    </div>
                </div>
                <div class="group-scheme-item col-lg-4">
                    <div class="group-scheme-item-wrap">
                        <mat-icon class="dot" style="color: #79328a;">keyboard_arrow_right</mat-icon>АО «СК БЛАГОСОСТОЯНИЕ ОС»
                    </div>
                </div>
            </div>
        </div>
        <br class="crutchbr"/>
        <div class="center-block row">
            <div class="col-sm-12">
                <div class="group-scheme-item col-lg-4">
                    <div class="group-scheme-item-wrap">
                        <mat-icon class="dot" style="color: #79328a;">keyboard_arrow_right</mat-icon>АО «ИНТАЧ СТРАХОВАНИЕ»
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="about-section">
            <h2 class="about-section-title">АО «СК БЛАГОСОСТОЯНИЕ»</h2>
            <div class="typography">
                АО «СК БЛАГОСОСТОЯНИЕ» является одной из ведущих российских страховых компаний и предлагает передовые решения для работодателей, банков и физических лиц в 63 регионах России.
            </div>
            <br />
            <ul>
                <li>Исключительно высокий <b>уровень надежности А++</b> от рейтингового агентства «Эксперт РА»<span class="sup">1</span>.</li>
                <li>Мы уже выплатили нашим клиентам <b>более 3,5 млрд руб.</b><span class="sup">2</span>.</li>
                <li><b>Уровень удовлетворенности клиентов</b> (Net Promoter Score<span class="sup">3</span>) <b>+94</b> по шкале от -100 до +100.</li>
                <li>Компания является <b>эксклюзивным партнером международного страхового пула IGP</b> в России</li>
                <li>Мы занимаем <b>4-е место</b> на рынке страхования от несчастных случаев и болезней <b>с долей рынка 3,7%</b><span class="sup">4</span>.</li>
            </ul>
        </div>
        <div class="about-section">
            <h2 class="about-section-title">АО «СК БЛАГОСОСТОЯНИЕ ОС»</h2>
            <div class="typography">
                Компания специализируется на имущественном и ипотечном страховании, страховании для выезжающих за рубеж, страховании техники и страховании финансовых рисков.
            </div>
            <br />
            <ul>
                <li>Компания <b>основана в 1993 году</b></li>
                <li><b>Универсальная</b> страховая компания</li>
            </ul>
        </div>
        <div class="about-section">
            <h2 class="about-section-title">НПФ «БЛАГОСОСТОЯНИЕ ЭМЭНСИ»</h2>
            <div class="typography">
                Лидер в предоставлении негосударственного пенсионного обеспечения сотрудникам международных компаний в России.
            </div>
            <br />
            <ul>
                <li><b>Объем пенсионных резервов</b> фонда составляет <b>более 11 млрд руб.</b><span class="sup">5</span>.</li>
                <li>Фонд разрабатывает, внедряет и администрирует <b>корпоративные пенсионные программы для более чем 150 работодателей</b>.</li>
                <li>Исключительно высокий <b>уровень надежности А++</b> от рейтингового агентства «Эксперт РА»<span class="sup">6</span>.</li>
            </ul>
        </div>
        <div class="about-section">
            <h2 class="about-section-title">АО «ИНТАЧ СТРАХОВАНИЕ»</h2>
            <div class="typography">
                Компания АО «ИНТАЧ СТРАХОВАНИЕ» (INTOUCH) работает на российском рынке с 2008 года и является лидером среди автостраховщиков в сегменте «директ – страхование», осуществляя оформление договора по телефону и через сеть Интернет, а также удаленное урегулирование страховых случаев.
            </div>
            <ul>
                <li>«Очень высокий уровень надежности» А+ от «Эксперт РА»<span class="sup">7</span>.</li>
                <li>1-е место среди автостраховщиков без посредников<span class="sup">8</span>.</li>
                <li>Инновационное и технологичное страхование.</li>
                <li>90% клиентов направляются на ремонт с места ДТП после одного звонка в компанию.</li>
            </ul>
        </div>
        <div class="about-section">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="about-section-title">Почему люди доверяют нам?</h2>
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-1.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Индивидуальный подход</b>
                        </div>
                        <div class="typography">
                            Каждый страховой случай рассматривается нашими экспертами индивидуально. Мы делаем все возможное, чтобы в трудной ситуации взаимодействие со страховой компанией было для вас максимально удобным и эффективным.
                        </div>
                    </div>
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-2.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Территориальная доступность</b>
                        </div>
                        <div class="typography">
                            Страховая группа «БЛАГОСОСТОЯНИЕ» представлена в 63 регионах России. Мы ежедневно и круглосуточно обеспечиваем эффективную работу во всех регионах присутствия.
                        </div>
                    </div>
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-3.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Самые современные решения в области страхования</b>
                        </div>
                        <div class="typography">
                            Окружающий мир меняется каждый день. С уверенностью можно сказать, что страховая группа «БЛАГОСОСТОЯНИЕ» идет в ногу со временем. Мы постоянно совершенствуем страховые продукты, чтобы они удовлетворяли потребностям даже самых взыскательных клиентов. Для нас важно сделать процесс приобретения страхового полиса легким и понятным.
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-4.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Социальная ответственность</b>
                        </div>
                        <div class="typography">
                            Руководители и сотрудники страховой группы «БЛАГОСОСТОЯНИЕ» уверены, что с крупным успехом приходит и большая ответственность. Мы рады возможности помочь благотворительному фонду «Подари жизнь», программам «Дорога в школу» и «Благотворительный забег 5275», Главному ботаническому саду имени Н. В. Цицина РАН. Подробнее о программах социальной поддержки вы можете прочитать в специальном разделе нашего сайта.
                        </div>
                    </div>
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-5.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Выгодные тарифы</b>
                        </div>
                        <div class="typography">
                            Мы понимаем, что стоимость страхового полиса для многих является решающим фактором при принятии решения о его покупке. Эксперты страховой группы «БЛАГОСОСТОЯНИЕ» разработали гибкую систему тарификации, чтобы страхование стало доступным для каждого жителя России.
                        </div>
                    </div>
                    <div class="col-lg-4 section-trust">
                        <div class="crutch">
                            <img src="../../../../wwwroot/img/about/group-trust-6.svg" />
                        </div>
                        <div>
                            <mat-icon class="dot" style="color: #79328a;">done</mat-icon><b>Надежные партнеры</b>
                        </div>
                        <div class="typography">
                            Обеспечивать надежную защиту нам помогают только лучшие компании с безупречной репутацией. Нашим партнерам Best Doctors и Class Assistance доверяют миллионы людей во всем мире.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-section">
            <h2 class="about-section-title">Нашими клиентами и партнерами уже стали:</h2>
            <div class="information">
                <div class="col-lg-12 info-text">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        более
                    </div>
                    <div class="col-lg-4">
                        более
                    </div>
                </div>
                <div class="col-lg-12 big-info-text">
                    <div class="col-lg-4">
                        30
                    </div>
                    <div class="col-lg-4">
                        600
                    </div>
                    <div class="col-lg-4">
                        3 600 000
                    </div>
                </div>
                <div class="col-lg-12 info-text">
                    <div class="col-lg-4">
                        банков-партнеров
                    </div>
                    <div class="col-lg-4">
                        компаний
                    </div>
                    <div class="col-lg-4">
                        индивидуальных клиентов
                    </div>
                </div>
            </div>
            <div class="mini-info">
                <p><b>30 банков-партнеров</b>, более <b>600 компаний</b>, более <b>3 600 000 индивидуальных клиентов</b>.</p>
            </div>
        </div>
        <div class="about-section">
            <br />
            <br />
            <p><span class="sup">1</span> По состоянию на 02.09.2015.</p>
            <p><span class="sup">2</span> По состоянию на 31.12.2014.</p>
            <p class="typography"><span class="sup">3</span> Компания Beeper в марте 2015 года по заказу АО «СК БЛАГОСОСТОЯНИЕ» провела исследование Net Promoter Score (NPS) – индикатора лояльности клиентов. Это признанная мировая методика, определяющая, насколько клиенты готовы рекомендовать компанию коллегам, родным и друзьям. Значения индикатора могут находиться в интервале от -100 (никто из клиентов не рекомендует) до +100 (все клиенты рекомендуют).</p>
            <p><span class="sup">4</span> На основе опубликованных данных ЦБ РФ о результатах работы страховых компаний на 30.06.2015.</p>
            <p><span class="sup">5</span> По состоянию на 31.12.2016.</p>
            <p><span class="sup">6</span> Рейтинг подтвержден 29.11.2016 на период 12 месяцев.</p>
            <p><span class="sup">7</span> По состоянию на 21.07.2016.</p>
            <p><span class="sup">8</span> На основе ренкинга Директ-страхование в России в 2015 году от «Эксперт РА».</p>
        </div>
    </div>
</div>


