﻿.about {
    img{
        height: 64px;
        width: 54px;
    }
    .about-article-header {
        border-bottom: 2px solid #59b337;
    }

    .section-trust {
        margin-bottom: 25px;
    }

    @media (max-width: 1200px) {
        .connection-lines {
            display: none;
        }

        .group-scheme-item {
            margin-left: 15px;
        }

        .crutch {
            display: none;
        }

        .information {
            display: none;
        }

        .mini-info {
            visibility: visible;
        }
    }

    @media (min-width: 1199px) {
        .mini-info {
            visibility: hidden;
        }

        .crutchbr {
            display: none;
        }

        .dot {
            display: none;
        }

        .group-scheme-item {
            font-size: 16px;
            height: 120px;
            display: table;
            margin-bottom: 30px;

            .group-scheme-item-wrap {
                border: 3px solid #ffd900;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }

        .group-scheme-item-root {
            font-size: 16px;
            height: 120px;
            display: table;

            .group-scheme-item-wrap {
                border: 3px solid #ffd900;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }

        .connection-lines {
            .line-trio {
                border-left: 3px dotted #c3c6c7;
                height: 25px;
            }

            .line-seven {
                border-right: 3px dotted #c3c6c7;
                border-left: 3px dotted #c3c6c7;
                border-top: 3px dotted #c3c6c7;
                height: 25px;
            }

            .line-six {
                border-left: 3px dotted #c3c6c7;
                border-top: 3px dotted #c3c6c7;
                height: 25px;
            }
        }
    }

    .about-section {
        margin-top: 15px;
        border-top: 1px solid #e9edee;

        .about-section-title {
            line-height: 24px;
            margin-bottom: 15px;
            margin-top: 35px;
        }
    }

    .typography {
        text-align: justify;
    }

    .sup {
        position: relative;
        top: -5px;
        font-size: 10px;
    }

    .information {
        color: #004fb6;

        .info-text {
            font-size: 20px;
        }

        .big-info-text {
            font-size: 45px;
        }
    }
}
