﻿.main-nav {
    z-index: 3;
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    padding:0;
}
.navHeader {
    background-color: #004fb6;
    height: 37px;
}
.bar {
    float: right;
    padding-right: 25px;
}


@media (max-width: 1200px) {
    .menu {
        display: none;
    }
}
@media (min-width: 1199px) {
    .main-nav {
        top: 85px;
    }

    .navHeader {
        display: none;
        height: 0px;
    }

    .bar {
        display: none;
    }

    .menu {
        box-sizing: border-box;
        float: none;
        height: 200px;
    }
}
