﻿<div class='main-nav col-lg-3'>
    <div class='navHeader'>
        <div class="bar col-lg-9">
            <button mat-button [matMenuTriggerFor]="menu" style="color:white"><mat-icon>more_vert</mat-icon>Меню</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/home']"><mat-icon>home</mat-icon>Главная</button>
                <button mat-menu-item [routerLink]="['/handbook']"><mat-icon>search</mat-icon>Справочник</button>
                <button mat-menu-item [routerLink]="['/about']"><mat-icon>info_outline</mat-icon>О компании</button>
                <mat-divider></mat-divider>
                <button mat-menu-item [routerLink]="['/login']"><mat-icon>keyboard_tab</mat-icon>Войти</button>
            </mat-menu>
        </div>
    </div>
    <div class="menu mat-menu-panel">
        <button mat-menu-item [routerLink]="['/home']"><mat-icon>home</mat-icon>Главная</button>
        <button mat-menu-item [routerLink]="['/handbook']"><mat-icon>search</mat-icon>Справочник</button>
        <button mat-menu-item [routerLink]="['/about']"><mat-icon>info_outline</mat-icon>О компании</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/login']"><mat-icon>keyboard_tab</mat-icon>Войти</button>
    </div>
</div>
