.header-content {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dedede;
}
.header-content .navbar-header {
  text-align: left;
  margin: 0 auto;
}
.header-content img {
  height: 40px;
  margin: 21px;
}
.body-content {
  margin-top: 100px;
}
@media (max-width: 1199px) {
  .header-content {
    z-index: 3;
  }
  .header-content .navbar-header {
    text-align: center;
  }
  .body-content {
    padding-top: 50px;
  }
}
