<div class='container-fluid'>
    <div class='row'>
        <nav class="navbar header-content">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a [routerLink]="['/home']">
                        <img src="../../../../wwwroot/img/WELBI-logo-small-new.svg" alt="WELBI" />
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class='row'>
        <div class='col-lg-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-lg-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
