﻿<h3>Сотрудники <button mat-mini-fab (click)="create()" color="primary"><mat-icon aria-label="add">add</mat-icon></button></h3>

<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> ФИО </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-menu-item (click)="openDialog()">{{element.name}}</button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Должность </mat-header-cell>
            <mat-cell *matCellDef="let element"> <span matTooltip="{{element.position}}, съешь этих мягких французских булок и выпей чаю">{{element.position}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="workPhone">
            <mat-header-cell *matHeaderCellDef> внутр. номер </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.workPhone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
</div>
