﻿<h3>Отделы</h3>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox>Дирекция информационных технологий</mat-checkbox>
            </mat-panel-title>
            <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"><mat-checkbox>Департамент ИТ инфраструктуры и поддержки</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><mat-checkbox>Департамент бизнес приложений</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><mat-checkbox>Отдел информационной безопасности</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Дирекция по работе с финансовыми институтами
            </mat-panel-title>
            <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem"><mat-checkbox>Отдел по работе с банками</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><mat-checkbox>Отдел регионального развития</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem"><mat-checkbox>Учебный центр</mat-checkbox></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>