﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/favicon_welbi.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon_welbi.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Views/Layout.css" type="text/css" />
    <title>@ViewData["Title"]WELBI Directory</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    <style>
        .footer {
            bottom: 0;
            width: 100%;
            margin-top: 150px;
        }
    </style>

    @RenderBody()

    @RenderSection("scripts", required: false)


    <div class="footer modal-footer">
        <div class="col-lg-2">
            WELBI.com Intranet
        </div>
        <div class="col-lg-4 col-lg-offset-6">
            © 2006 - 2018 АО "СК БЛАГОСОСТОЯНИЕ"
        </div>
    </div>
</body>
</html>
