﻿<mat-card class="cardstaff">
    <mat-card-header>
        <img mat-card-avatar src="../../../../wwwroot/img/photo/teterkin.i.a_avatar.jpg" alt="Аватар" class="img-circle">
        <mat-card-title>Тетеркин Игорь Александрович</mat-card-title>
        <mat-card-subtitle>Специалист поддержки бизнес приложений</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br />
    <mat-card-subtitle>Основная информация</mat-card-subtitle>
    <mat-grid-list cols="5" rowHeight="35px">
        <mat-grid-tile colspan="2" rowspan="1" style="background: #f5f5f5;">Почта</mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1" style="background: #f5f5f5;"><a href="mailto:igor.teterkin@skblago.ru">igor.teterkin@skblago.ru</a></mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style="background: #f5f5f5;">Рабочий тел.</mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1" style="background: #f5f5f5;">1227</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style="background: #f5f5f5;">Мобильный тел.</mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1" style="background: #f5f5f5;">+7(929) 601-08-92</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style="background: #f5f5f5;">День рождения</mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1" style="background: #f5f5f5;">07.06.1995</mat-grid-tile>
    </mat-grid-list>
    <br />
    <mat-divider></mat-divider>
    <br />
    <mat-card-subtitle>О себе</mat-card-subtitle>
    <div style="text-align: justify;">
        <p>
            Я учился в НИУ «МЭИ» на кафедре ВМСС. На четвёртом курсе обучения познакомился с технологией ASP.NET Core.
            До прихода в компанию АО «СК Благосостояние» ранее работал в ЦУНБ им. Н. А. Некрасова и в АО «Тинькофф Банк».
            В свободное время занимаюсь велоспортом, люблю горнолыжный спорт.
        </p>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <mat-grid-list cols="5" rowHeight="80px">
            <mat-grid-tile colspan="2" rowspan="1"><a href="mailto:igor.teterkin@skblago.ru"><button mat-raised-button color="primary"><mat-icon aria-label="favorite">send</mat-icon> Написать</button></a></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1"><button mat-mini-fab (click)="edit()" color="accent"><mat-icon aria-label="create">create</mat-icon></button></mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1"><button mat-mini-fab (click)="close()" color="warn"><mat-icon aria-label="clear">clear</mat-icon></button></mat-grid-tile>   
        </mat-grid-list>
    </mat-card-actions>
</mat-card>
