﻿<div class="col-lg-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-1">
    <h1>{{title}}</h1>
    <mat-card class="login">
        <!--
            <mat-card-header>
                <div class="col-md-offset-1">
                    <mat-card-title><mat-icon aria-label="warning" style="color:#e74c3c">warning</mat-icon> Доступ к системе имеют только администраторы</mat-card-title>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br />
        -->
        <form class="example-form">
            <!--input user name-->
            <mat-form-field class="input">
                <input required matInput placeholder="Имя пользователя" [formControl]="UsernameFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="UsernameFormControl.hasError('required')">
                    Укажите, пожалуйста, имя пользователя
                </mat-error>
            </mat-form-field>
            <!--input passrord-->
            <mat-form-field class="input">
                <input required type="password" matInput placeholder="Пароль" [formControl]="PasswordFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="PasswordFormControl.hasError('required')">
                    Укажите, пожалуйста, пароль для входа
                </mat-error>
            </mat-form-field>
        </form>
        <br />
        <mat-divider></mat-divider>
        <mat-card-actions>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-checkbox>Запомнить меня</mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <button mat-raised-button [disabled]="isInvalidForm()" color="primary"><mat-icon aria-label="input">input</mat-icon> Войти</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-actions>
    </mat-card>
</div>